html, body {
/*	width: 100%;
	height: 100%;*/
	background-color: #FCFBE3;
	/* vanilla cream */
	color: black;
}

#banner {
	width: 100%;
}

#navContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    width: 100%;
}

#logo {
	float: left;
}

#bars {
	cursor: pointer;
    width: 35px;
    padding: 5px 10px;
    float: right;
}

/* 3 horixontal nav bars */
#bar-1, #bar-2, #bar-3 {
	width: 30px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	/* animation time */
	transition: 0.4s;
}

/* vvvvv bar animation vvvvv */
.change div #bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change div #bar-2 {opacity: 0;}

.change div #bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* ^^^^^ bar animation ^^^^^ */

#nav {
	display: none;
	text-align: center;
    background-color: #FCFBE3;
	/* vanilla cream */
}

#nav div {
	margin-top: 0;
	margin-bottom: 0;
}

#nav a {
	display: block;
	text-decoration: none;
	padding: 20px;
}

#nav a:hover {
	background-color: #8E3D40;
	/* burgundy */
	color: white;
}

#subNav {
	background-color: #FCFBE3;
	/* vanilla cream */
	position: absolute;
	display: none;
}

.active {
	background-color: #8E3D40;
	/* burgundy */
}

.active a {
	color: white;
}

#hero {
	background-image: url('../img/hero.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 50px;
}

#hero-text h2 {
	margin-top: 0;
}

button {
	background-color: #8E3D40;
	/* burgundy */
	color: white;
	padding: 10px; 
	cursor: pointer;
	border: none;
	border-radius: 4px;
}

button:hover {
	background-color: #FCFBE3;
	/* vanilla cream */
	color: black;
}

.content {
	margin: auto 5%;
}

#subcontent {
	margin: auto 8%;
	margin-top: 50px;
}

#subcontent h3 {
	border-top: 1px solid #8E3D40;
	/* burgundy */
}

#hypnotherapy, #services, #testimonials {
	margin-bottom: 5%;
}

#testimonials {
	margin: 7% 3% 0 3%;
	width: auto !important;
}

blockquote {
	font-size: 22px;
	font-style: italic;
	margin-top: 0;
}

#form {
	display: block;
	margin: auto 35%;
	/*background-color: #8E3D40;*/
	/* burgundy */
}

label {
	color: black;
}

input[type=text], input[type=password] {
    margin-bottom: 30px;
    padding: 8px 0;
    width: 100%;
    border: none;
    border-bottom: 0.5px solid #8E3D40;
    /* burgundy */
}

input[type=button] {
	/* same as <button> */
	
	background-color: #8E3D40;
	/* burgundy */
	color: white;
	padding: 10px; 
	cursor: pointer;
	border: none;
	border-radius: 4px;

	width: 100%;
}

#footer {
	background-color: #333;
	margin-top: 50px;
	padding: 5px;
}

#footer div, #footer h4, #footer h5{
	color: white;
}

#services img {
	border-radius: 50%;
}

#booking {
	width: 100%;
	height: 600px;
	margin-bottom: 50px;
}

iframe {
	width: 100%;
	height: 100%;
}

/* used for Meha's About image */
.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

a[href^="mailto:"]
{
	color: white;
}

img {
	margin-right: 10px;
	position: relative;
}
