html, body {
/*	width: 100%;
	height: 100%;*/
	background-color: FF0000;
	/* vanilla cream */
	color: black;
}

a {
	text-decoration: none;
}

#banner {
	width: 100%;
}

#hero-text
{
	color: white;
}

#navContainer {
    width: 100%;
}

#logo {
	position: absolute;
	top: 0;
	left: 0;
}

#bars {
	cursor: pointer;
    width: 35px;
    padding: 5px 10px;
    float: right;
}

/* 3 horixontal nav bars */
#bar-1, #bar-2, #bar-3 {
	width: 30px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	border-radius: 2px;
	/* animation time */
	transition: 0.4s;
	position:fixed;
}

/* vvvvv bar animation vvvvv */
.change div #bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: black;
}

.change div #bar-2 {
	opacity: 0;
	background-color: black;
}

.change div #bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: black;
}

/* ^^^^^ bar animation ^^^^^ */

#nav {
	/*display: none;*/
	text-align: center;
    background-color: #FFFFFF;
	/* vanilla cream */
	margin: auto 10%;
	position: fixed; 
}

#nav div {
	margin-top: 40px;
	margin-bottom: 10px;
}

#nav a {
	text-decoration: none;
	display: block;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: white;
	color:black;
	text-align: center;
	padding: 10px;
	padding-right:20px;
	padding-left: 20px;

}

#nav a:hover {
	text-align: center;
	background-color: #B97F6D;
	/*opacity: .6;*/
	/* burgundy */
	color: white;
}

#nav a:hover:not(.active){
	
}

#subNav {
	display: none;
	position: absolute;
	z-index: 3;
	background-color: #B97F6D;
	text-align: center;
	/*opacity: .6;*/
	/* vanilla cream */
}

.active a {
	background-color: #B97F6D !important;
	/*background-size: 20px 500px;*/
	color:white;
	padding: 15px;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

#hero {
	background-image: url('../img/flowers.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 30px;
}

#hero-text h2 {
	font-size: 90px;
	/*text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;*/
	font-family: Raleway;
	font-variant: normal;
	text-align: center;
	font-weight: 80;
	
	margin-top: 0;
	color: #8E3D40;
}

#hero-text h3 {
	font-family: Raleway;
	font-variant: normal;
	text-align: center;
	font-weight: 80;
	position:relative;
	/* text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;*/
	 border-opacity:0.7;
	 /* box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); */
	 left: -10px;
	font-size: 40px;
	text-align: center;
	top: -70px;
	margin-top: 100px;
	color: #8E3D40;
}

#loggedin {
	color: black;
}
/*button under title of homepage*/
button {
	background-color: #8E3D40;
	color: white;
	display: block;
	margin: auto;
	padding: 10px; 
	width: 220px;
	height: 68px;
	opacity: .80;
	font-size: 20px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}

button:hover, input[type=button]:hover {
	background-color: #FCFBE3;
	/* vanilla cream */
	color: black;
}

.content {
	margin: auto 5%;
}

#subcontent {
	margin: auto 8%;
	margin-top: 50px;
}

#subcontent h3 {
	border-top: 1px solid #8E3D40;
	/* burgundy */
}

#hypnotherapy, #services, #testimonials {
	margin-bottom: 5%;
}

#services {
	text-align: center;
}

#testimonials {
	margin: 7% 3% 0 3%;
	width: auto !important;
}

blockquote {
	font-size: 22px;
	font-style: italic;
	margin-top: 0;
}

#form {
	display: block;
	margin: auto 35%;
	padding: 20px;
	background-color: #8e3d40;
}

label {
	color: #FFFFFF;
}

input[type=text], input[type=password] {
    margin-bottom: 30px;
    padding: 8px 0;
    width: 100%;
    border: none;
    /*border-bottom: 0.5px solid #8E3D40;*/
    /* burgundy */
}

input[type=button] {
	background-color: #FFFFFF;
	/* burgundy */
	color: black;
	margin: 20px auto;
	padding: 10px; 
	cursor: pointer;
	border: none;
	border-radius: 4px;

	width: 100%;
}

#form h5 {
	margin: 40px auto;
	margin-bottom: 0;
	color: #FFFFFF;
}

#form a {
	text-decoration: underline;
}

#footer {
	background-color: #333;
	margin-top: 50px;
	padding: 5px;
}

#footer div, #footer h4, #footer h5{
	color: white;
}

#booking {
	width: 100%;
	height: 600px;
	margin-bottom: 50px;
}

iframe {
	width: 100%;
	height: 100%;
}

a[href^="mailto:"]
{
	color: white;
}

img {
	margin-right: 10px;
	position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
